
<ul>
    {% for post in postslist %}
        <li>
            <a href='{{post.url | url}}' class='linkPost'>
                {{ post.data.title }} -- {{ post.data.author }}
             </a>
    {% endfor %}
</ul>